<section class="mySkills">
    <section class="iconSection">
        @for(skill of mySkills.skills; track skill.name){

        <div class="skillBox">
            <div class="skillBoxImgContainer">
                <img class="icon" src="assets/img/{{skill.img}}" alt="">
            </div>
            <div>{{skill.name}}</div>
        </div>
        }
    </section>
    <section class="textSection">
        <h2>{{ 'MY_SKILLS_TITLE' | translate }}</h2>
        <span>
            {{ 'MY_SKILLS_DESCRIPTION' | translate }}
        </span>
        <h3>{{ 'MY_SKILLS_LOOKING_FOR' | translate }} <span class="purpleTheme">{{ 'MY_SKILLS_ANOTHER_SKILL' | translate
                }}</span>?</h3>
        <span>
            {{ 'MY_SKILLS_CONTACT' | translate }}
        </span>
        <a href="#contact" class="getiTouchButton button">{{ 'MY_SKILLS_GET_IN_TOUCH' | translate }}</a>
    </section>
</section>