<section class="aboutMe">
    <div class="textSection">
        <h2>About me</h2>
        <span>
            I am a German-speaking Frontend Developer based in Wesel, Germany.<br>
            Driven by the nearly limitless possibilities that the IT world offers.
        </span>
        <div class="InfoList">
            <div class="textImgContainer">
                <img src="assets/img/loactionIcon.png" alt="">
                <span>
                    I am flexible when it comes to the work location. I can work on-site, <br>from home in a home
                    office, or even fully remote.
                </span>
            </div>
            <div class="textImgContainer">
                <img src="assets/img/lamp.png" alt="">
                <span>
                    I have a strong passion for learning new technologies and thrive on tackling challenges by coming
                    up<br>
                    with creative solutions. With a keen eye for detail and a commitment to delivering high-quality
                    work,<br>
                    I continuously seek opportunities to expand my skill set and contribute effectively to projects.
                </span>
            </div>
            <div class="textImgContainer">
                <img src="assets/img/puzzle.png" alt="">
                <span>
                    In my profession, programming isn't just about writing code; it's a
                    creative form of problem-solving. I take pride in my ability to distill
                    complex technical challenges into simple, user-friendly solutions.
                    This way, I help you achieve your goals and bring your visions to life.
                </span>
            </div>
        </div>
    </div>

    <div class="imgSection">
        <img class="profileImg" src="./../../../assets/img/profile.png" alt="">
    </div>
    <div class="imgLines"></div>
</section>