<section class="aboutMe">
    <div class="textSection">
        <h2>{{ 'ABOUT_ME_TITLE' | translate }}</h2>
        <span>
            {{ 'ABOUT_ME_DESCRIPTION' | translate }}
        </span>
        <div class="InfoList">
            <div class="textImgContainer">
                <img src="assets/img/loactionIcon.png" alt="">
                <span>
                    {{ 'ABOUT_ME_LOCATION' | translate }}
                </span>
            </div>
            <div class="textImgContainer">
                <img src="assets/img/lamp.png" alt="">
                <span>
                    {{ 'ABOUT_ME_PASSION' | translate }}
                </span>
            </div>
            <div class="textImgContainer">
                <img src="assets/img/puzzle.png" alt="">
                <span>
                    {{ 'ABOUT_ME_PROFESSION' | translate }}
                </span>
            </div>
        </div>
    </div>

    <div class="imgSection">
        <img class="profileImg" src="./../../../assets/img/profile.png" alt="">
    </div>
    <div class="imgLines"></div>
</section>
