@import './../../../../styles.scss';

.welcomeHeader {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 24px 48px 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #141D2F;
    z-index: 300;

    >.name {
        color: white;
        font-weight: bold;
        font-size: 28px;
    }

    nav {
        display: flex;
        gap: 32px;
        font-size: 16px;

        a {
            font-size: 23px;
            text-decoration: none;
            color: white;
            font-weight: bold;

            &:hover {
                color: $purpleTheme;
            }
        }
    }

    .navIcon{
        width:30px;
        height:25px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        >span{
            display: block;
            height:4px;
            width:100%;
            background-color: white;
            border-radius: 2px;
            transition: 0.3s;
        }
    }


}

@media (max-width: 900px) {
    .welcomeHeader {
        padding: 16px 48px 16px 48px;
        nav {
            display: none;
        }
        .navIcon{
            display: flex;
        }
    }
}