<section class="welcomeHeader">
    <div class="name">
      <a routerLink="/">Ale<span class="greenTheme">x</span>ande<span class="purpleTheme">r</span></a>
    </div>
  
    <nav class="normalNav">
      <a href="#aboutMe">{{ 'ABOUT_ME' | translate }}</a>
      <a href="#mySkills">{{ 'SKILLS' | translate }}</a>
      <a href="#portfolio">{{ 'PORTFOLIO' | translate }}</a>
      <a href="#contact">{{ 'CONTACT' | translate }}</a>
      <a (click)="switchLanguage()">{{ currentLang }}</a>
    </nav>
  
    <div (click)="openWrapper()" class="navIcon" id="menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  
    <nav class="navAlternative" #navbar>
      <a (click)="closeWrapper()" href="#aboutMe">{{ 'ABOUT_ME' | translate }}</a>
      <a (click)="closeWrapper()" href="#mySkills">{{ 'SKILLS' | translate }}</a>
      <a (click)="closeWrapper()" href="#portfolio">{{ 'PORTFOLIO' | translate }}</a>
      <a (click)="closeWrapper()" href="#contact">{{ 'CONTACT' | translate }}</a>
      <a (click)="switchLanguage()">{{ currentLang }}</a>
    </nav>
  </section>

  <div class="headerBackground"></div>