@import './../../../styles.scss';

.headerBackground{
    position: fixed;
    z-index: 299;
    background-color: #141D2F;
    right:0;
    left:0;
    height:90px;
    display: none;
}

.welcomeHeader {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 24px 48px 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #141D2F;
    z-index: 300;

    >.name {
        >a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 28px;
        }
    }

    >.normalNav {
        display: flex;
        gap: 32px;
        font-size: 16px;

        >a {
            font-size: 23px;
            text-decoration: none;
            color: white;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                color: $purpleTheme;
            }
        }
    }

    .navIcon {
        width: 30px;
        height: 25px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 10111;

        >span {
            display: block;
            height: 4px;
            width: 100%;
            background-color: white;
            border-radius: 2px;
            transition: 0.3s;
        }
    }


}

.navAlternative {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: grey;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.95;
    z-index: 1000;

    >a {
        font-size: 23px;
        text-decoration: none;
        color: white;
        font-weight: bold;

        &:hover {
            color: $purpleTheme;
        }
    }
}


@media (min-width:1921px) {
    .headerBackground{
        display: block;
    }
    .welcomeHeader{
        padding: 24px 0px 24px 0px;
    }
}

@media (max-width: 900px) {
    .welcomeHeader {
        padding: 16px 48px 16px 48px;

        >.normalNav {
            display: none;
        }

        >.navIcon {
            display: flex;
        }
    }
}
