<div class="welcomeFooter">
    <div class="lineContainer">
        <div class="prupleLine"></div>
    </div>
    <div class="linkBox">
        <a href="https://github.com/AlexanderLangenbeck/El-Pollo-Loco"><img src="./../../../assets/img/githubIcon.png" alt=""></a>
        <a href="#contact"><img src="./../../../assets/img/mailIcon.png" alt=""></a>
        <a href="#"><img src="./../../../assets/img/linkedInIcon.png" alt=""></a>
    </div>
    <a class="mail" href="">alex.langenbeck&#64;gmx.de</a>
</div>
