<div class="welcomeFooter">
    <div class="lineContainer">
        <div class="prupleLine"></div>
    </div>
    <div class="linkBox">
        <a target="_blank" href="https://github.com/AlexanderLangenbeck"><img src="./../../../assets/img/githubIcon.png" alt=""></a>
        <a href="#contact"><img src="./../../../assets/img/mailIcon.png" alt=""></a>
        <a target="_blank" href="https://www.linkedin.com/in/alexander-langenbeck-53a5a8329/"><img src="./../../../assets/img/linkedInIcon.png" alt=""></a>
    </div>
    <a class="mail" href="#contact">alex.langenbeck&#64;gmx.de</a>
</div>
