<img class="imgTheme purpleThemeImg" src="./../../../assets/img/purpleTheme1.png" alt="">
<section class="welcome">

    <div class="profileArea">
        <div class="welcomeContainer">

            <div class="welcomeText">
                <span class="headlineStart verticalText">I am</span>
                <div class="headline">
                    <span class="fullName">Alexander Langenbeck</span>
                    <span class="jobTitle purpleTheme">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <div class="buttonConainer">
                <a class="button" href="#contact">Let´s talk!</a>
            </div>

        </div>
    </div>

    <app-welcome-footer></app-welcome-footer>
</section>
<img class="imgTheme greenThemeImg" src="./../../../assets/img/greenTheme.png" alt="">