<section class="footer">
    <div class="footerStart">
        <h1>Ale<span class="greenTheme">x</span>ande<span class="purpleTheme">r</span></h1>
        <span>Impressum</span>
    </div>
    <span class="cRight">
        © Alexander Langenbeck 2024
    </span>
    <div class="footerIconContainer">
        <img src="./../../../assets/img/githubIcon.png" alt="">
        <img src="./../../../assets/img/mailIcon.png" alt="">
        <img src="./../../../assets/img/linkedInIcon.png" alt="">
    </div>
</section>