<section class="imprint">
    <div class="imprintContent">
        <h1>{{ 'IMPINT_IMPRINT' | translate }}</h1>
        <span>Name: AlexanderLangenbeck</span>
        <span>Adresse: Quadenweg 46, 46485 Wesel</span>
        <span>Telefon: +49 (0)1622749359</span>
        <span>E-Mail: alex.langenbeck&#64;gmx.de</span>
        <h3>{{ 'IMPRINT_DISCLAIMER' | translate }}</h3>
        <span>{{ 'IMPRINT_CONTENT_LIABILITY' | translate }}</span>
        <span>{{ 'IMPRINT_LINK_LIABILITY' | translate }}</span>
        <span>{{ 'IMPRINT_CONTENT_RESPONSIBLE' | translate }}</span>
    </div>
</section>