<section class="imprint">
    <h1>Impressum</h1>
    <span>Name: AlexanderLangenbeck</span>
    <span>Adresse: Quadenweg 46, 46485 Wesel</span>
    <span>Telefon: +49 (0)1622749359</span>
    <span>E-Mail: alex.langenbeck&#64;gmx.de</span>
    <h3>Haftungsausschluss:</h3>
    <span>
        Haftung für Inhalte: Trotz sorgfältiger Prüfung übernehmen wir keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte.
        Haftung für Links: Für die Inhalte externer Links sind ausschließlich deren Betreiber verantwortlich.
    </span>
    <span>Verantwortlich für den Inhalt: Max Mustermann</span>
</section>
