<section class="footer">
    <div class="footerStart">
        <h1>Ale<span class="greenTheme">x</span>ande<span class="purpleTheme">r</span></h1>
        <a routerLink="/impressum" routerLinkActive="active">{{ 'IMPINT_IMPRINT' | translate }}</a>
    </div>
    <span class="cRight">
        © Alexander Langenbeck 2024
    </span>
    <div class="footerIconContainer">
        <a target="_blank" href="https://github.com/AlexanderLangenbeck"><img src="./../../../assets/img/githubIcon.png" alt=""></a>
        <a href="#contact"><img src="./../../../assets/img/mailIcon.png" alt=""></a>
        <a target="_blank" href="https://www.linkedin.com/in/alexander-langenbeck-53a5a8329/"><img  src="./../../../assets/img/linkedInIcon.png" alt=""></a>
    </div>
</section>