$greenTheme: #70E61C;
$purpleTheme: #9747FF;

* {
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #141D2F;
}

::-webkit-scrollbar-thumb {
    background: $purpleTheme;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9e54ff;
}

html{
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    font-family: 'Poppins';
    background-color: #141D2F;
    color: white;
    position: relative;
    overflow-x: hidden;
    // max-width: 1920px;
    
}

h2 {
    font-size: 90px;
}

section {
    max-width:1920px;
    padding-bottom: 64px;
    padding-top: 64px;
}

.greenTheme {
    color: #70E61C;
}

.purpleTheme {
    color: #9747FF;
}




@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@media only screen and (max-width: 1255px) {
    h2 {
        font-size: 70px;
    }
}

@media (max-width:700px) {
    h2 {
        font-size: 52px;
    }
}

@media (max-width:365px) {
    h2 {
        font-size: 45px;
    }

    section {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}