<section>
    <img class="imgTheme" src="./../../../assets/img/purpleTheme2.png" alt="">
    <h2>Portfolio</h2>
    <span>{{ 'PORTFOLIO_HEADLINE' | translate}}</span>
    <div class="projectsContainer">
        <div class="projects" *ngFor="let project of myProjects.projects; let i = index; trackBy: trackByProjectTitle">
            <ng-container *ngIf="i % 2 === 0">
                <img data-aos="fade-right" src="assets/img/{{project.img}}" alt="">
                <div data-aos="fade-right" class="textPart">
                    <div class="title">{{project.title}}</div>
                    <div class="skills">{{project.skills}}</div>
                    <div class="description">{{ project.description | translate }}</div>
                    <div class="buttonContainer">
                        <a target="_blank" href="{{project.links.github}}" class="lTest">Live test</a>
                        <a target="_blank" href="{{project.links.liveTest}}" class="gitHubButton">Github</a>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="i % 2 !== 0">
                <div data-aos="fade-left" class="textPart">
                    <div class="title">{{project.title}}</div>
                    <div class="skills">{{project.skills}}</div>
                    <div class="description">{{ project.description | translate }}</div>
                    <div class="buttonContainer">
                        <a target="_blank" href="{{project.links.github}}" class="lTest">Live test</a>
                        <a target="_blank" href="{{project.links.liveTest}}" class="gitHubButton">Github</a>
                    </div>
                </div>
                <img data-aos="fade-left" src="assets/img/{{project.img}}" alt="">
            </ng-container>
        </div>
    </div>
</section>